@charset "UTF-8";
/* Variables */
/*VARIABLES*/
/*ESPACIADOS*/
/*TAMAÑO DE FUENTE*/
/* Normalizador */
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400");
@import url("https://fonts.googleapis.com/css?family=Playfair+Display");
@import url("https://fonts.googleapis.com/css?family=Poppins:400,400i,700");
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box; }

/* Mixins */
/* Header */
/*VARIABLES*/
/*ESPACIADOS*/
/*TAMAÑO DE FUENTE*/
/************************* HEADER STYLES ******************/
.img_logo {
  width: 100px;
  height: auto;
  padding-left: 10px;
  padding-top: 10px;
  padding-right: 10px; }

.caja_nav {
  background-color: #FC4545; }
  .caja_nav ul li a {
    text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.6);
    color: #FFF7E5;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; }

.transition, ul li i:before, ul li i:after, p {
  transition: all 0.25s ease-in-out; }

.flipIn, ul li, h1 {
  animation: flipdown 0.5s ease both; }

ul {
  list-style: none;
  perspective: 900;
  padding: 0;
  margin: 0; }

ul li {
  position: relative;
  padding: 0;
  margin: 0;
  padding-bottom: 4px;
  padding-top: 18px;
  border-top: 1px dotted #dce7eb; }

ul li:nth-of-type(1) {
  animation-delay: 0.5s; }

ul li:nth-of-type(2) {
  animation-delay: 0.75s; }

ul li:nth-of-type(3) {
  animation-delay: 1s; }

ul li:last-of-type {
  padding-bottom: 0; }

ul li i {
  position: absolute;
  transform: translate(-6px, 0);
  margin-top: 16px;
  right: 0; }

ul li i:before, ul li i:after {
  content: "";
  position: absolute;
  background-color: #ff6873;
  width: 3px;
  height: 9px; }

ul li i:before {
  transform: translate(-2px, 0) rotate(45deg); }

ul li i:after {
  transform: translate(2px, 0) rotate(-45deg); }

ul li input[type=checkbox] {
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0; }

ul li input[type=checkbox]:checked ~ p {
  margin-top: 0;
  max-height: 0;
  opacity: 0;
  transform: translate(0, 50%); }

ul li input[type=checkbox]:checked ~ i:before {
  transform: translate(2px, 0) rotate(45deg); }

ul li input[type=checkbox]:checked ~ i:after {
  transform: translate(-2px, 0) rotate(-45deg); }

@keyframes flipdown {
  0% {
    opacity: 0;
    transform-origin: top center;
    transform: rotateX(-90deg); }
  5% {
    opacity: 1; }
  80% {
    transform: rotateX(8deg); }
  83% {
    transform: rotateX(6deg); }
  92% {
    transform: rotateX(-3deg); }
  100% {
    transform-origin: top center;
    transform: rotateX(0deg); } }

/* Main */
/*VARIABLES*/
/*ESPACIADOS*/
/*TAMAÑO DE FUENTE*/
/******************* MAIN STYLES ********/
/* INDEX*/
.main_index {
  padding: 3px; }

/* COMIDAS */
.main_comidas {
  background-color: #F9C902; }
  .main_comidas .h1_comidas {
    text-align: center;
    color: black; }
  .main_comidas h3 {
    padding: 3px;
    padding-right: 3px;
    color: solid black;
    text-align: center; }
  .main_comidas img {
    width: 90%; }

.row {
  display: flex;
  padding: 5px;
  flex-wrap: wrap; }

.column {
  flex: 25%;
  padding: 5px; }
  .column img {
    margin-top: 5px; }
  .column h4 {
    color: #7D2FFD;
    text-align: center; }

.button_comidas {
  background: #FBCA1F;
  font-family: inherit;
  padding: 5px;
  font-weight: 900;
  font-size: 18px;
  border: 3px solid black;
  border-radius: 0.4em;
  box-shadow: 0.1em 0.1em; }

.button:hover {
  transform: translate(-0.05em, -0.05em);
  box-shadow: 0.15em 0.15em; }

button:active {
  transform: translate(0.05em, 0.05em);
  box-shadow: 0.05em 0.05em; }

/* CONTACTO */
.main {
  font-family: 'Raleway', sans-serif;
  background-color: #7D2FFD;
  min-height: 600px;
  padding: 80px 0;
  background-image: linear-gradient(to top, #a3bded 0%, #6991c7 100%);
  background-repeat: no-repeat;
  display: flex;
  margin: auto;
  width: 90%;
  max-width: 1000px;
  background-image: linear-gradient(to left, rgba(255, 255, 255, 0.472), rgba(255, 255, 255, 0.365));
  overflow: hidden;
  padding: .7em;
  border-radius: 1em;
  display: grid;
  grid-auto-rows: max-content;
  grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
  gap: .6em;
  animation: mostrar 1.5s ease-in-out; }

@keyframes mostrar {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.main__figure {
  overflow: hidden;
  border-radius: 1em;
  background-color: #FC4545;
  display: flex; }

.main__img {
  margin: auto;
  width: 80%;
  max-width: 60vw; }

.main__contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5em;
  padding: 3em .7em;
  text-align: center; }

.main__form {
  display: grid;
  justify-items: center;
  gap: 1.5em; }

.main__input {
  width: 80%;
  max-width: 500px;
  outline: none;
  border: none;
  padding: 1em;
  font: inherit;
  border-radius: .6em; }

.main__input--send {
  background-color: #DC3F31;
  color: #030303;
  font-weight: 600; }

.main__title {
  font-size: 2.3rem; }

.main__icon {
  width: 30px;
  height: 30px; }

.main_qs {
  background-color: #FFF7E5;
  padding: 10px; }
  .main_qs h5 {
    text-align: center; }
  .main_qs p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; }

.scrolldown {
  --color: white;
  --sizeX: 30px;
  --sizeY: 50px;
  position: relative;
  width: var(--sizeX);
  height: var(--sizeY);
  margin-left: var(sizeX/2);
  border: calc(var(--sizeX) / 10) solid var(--color);
  border-radius: 50px;
  box-sizing: border-box;
  margin-bottom: 16px;
  cursor: pointer; }

.scrolldown::before {
  content: "";
  position: absolute;
  bottom: 30px;
  left: 50%;
  width: 6px;
  height: 6px;
  margin-left: -3px;
  background-color: var(--color);
  border-radius: 100%;
  animation: scrolldown-anim 2s infinite;
  box-sizing: border-box;
  box-shadow: 0px -5px 3px 1px #2a547066; }

@keyframes scrolldown-anim {
  0% {
    opacity: 0;
    height: 6px; }
  40% {
    opacity: 1;
    height: 10px; }
  80% {
    transform: translate(0, 20px);
    height: 10px;
    opacity: 0; }
  100% {
    height: 3px;
    opacity: 0; } }

.chevrons {
  padding: 6px 0 0 0;
  margin-left: -3px;
  margin-top: 48px;
  width: 30px;
  display: flex;
  flex-direction: column;
  align-items: center; }

.chevrondown {
  margin-top: -6px;
  position: relative;
  border: solid var(--color);
  border-width: 0 3px 3px 0;
  display: inline-block;
  width: 10px;
  height: 10px;
  transform: rotate(45deg); }

.chevrondown:nth-child(odd) {
  animation: pulse54012 500ms ease infinite alternate; }

.chevrondown:nth-child(even) {
  animation: pulse54012 500ms ease infinite alternate 250ms; }

@keyframes pulse54012 {
  from {
    opacity: 0; }
  to {
    opacity: 0.5; } }

.caja_qs {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center; }

.accordion__item__title {
  display: block;
  padding: 20px;
  cursor: pointer;
  background: #eee;
  color: #333;
  position: relative; }
  .accordion__item__title:after {
    content: '+';
    position: absolute;
    right: 20px;
    top: 50%;
    font-size: 2rem;
    line-height: 2rem;
    margin-top: -1rem;
    font-weight: bold; }

.accordion__item:nth-of-type(2n) .accordion__item__title {
  background: #ddd; }

.accordion__item__content {
  display: none;
  padding: 20px; }
  .accordion__item__content:target {
    display: block; }

/* Irrelevant styles */
.accordion__item__title {
  display: block;
  padding: 20px;
  cursor: pointer;
  background: #eee;
  color: #333;
  position: relative; }
  .accordion__item__title:after {
    content: '+';
    position: absolute;
    right: 20px;
    top: 50%;
    font-size: 2rem;
    line-height: 2rem;
    margin-top: -1rem;
    font-weight: bold; }

.accordion__item:nth-of-type(2n) .accordion__item__title {
  background: #ddd; }

.accordion__item__content {
  display: none;
  padding: 20px; }
  .accordion__item__content:target {
    display: block; }

/* Irrelevant styles */
.main_pf {
  background-color: #FFF7E5;
  font-family: Lato, sans-serif; }

a {
  text-decoration: none;
  color: #f70000; }

.container {
  max-width: 600px;
  margin: 20px auto; }

.h_pf {
  font-family: Montserrat, sans-serif;
  background: #FFF7E5;
  color: #f10404;
  margin: 0;
  padding: 60px 20px;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-align: center; }

/* Section */
/*VARIABLES*/
/*ESPACIADOS*/
/*TAMAÑO DE FUENTE*/
/* INDEX*/
.cajaindex_1 {
  background-color: #FC4545;
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 10px;
  padding-top: 10px; }
  .cajaindex_1 h1 {
    color: #FFF7E5;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top: 10px;
    padding-bottom: 10px; }
  .cajaindex_1 h2 {
    color: #FFF7E5;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top: 10px;
    padding-bottom: 10px; }
  .cajaindex_1 p {
    color: #FFF7E5;
    font-size: larger;
    padding-top: 2.4rem;
    padding-top: 10px;
    padding-bottom: 10px; }
  .cajaindex_1 img {
    width: 350px;
    height: 350px;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-top: 10px;
    padding-bottom: 10px; }

.main_index {
  background-color: #7E7D7C; }
  .main_index h5 {
    color: #FFF7E5; }
  .main_index p {
    color: ivory;
    padding-top: 10px;
    padding-bottom: 10px; }
  .main_index img {
    width: min-content;
    height: min-content; }

/*********** Contacto ***********/
.section_contacto {
  background-color: #7D2FFD;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 5% 35%; }
  .section_contacto h3 {
    padding: 5px;
    color: #FFF7E5; }

.section_comidas {
  display: flex;
  flex-direction: column;
  background-color: black;
  color: #FFF7E5;
  text-align: center;
  padding: 5% 15%; }
  .section_comidas .box {
    padding: auto;
    margin: auto;
    overflow: auto; }
  .section_comidas .box1 {
    padding: auto;
    margin: auto;
    overflow: auto; }
  .section_comidas .box2 {
    padding: auto;
    margin: auto;
    overflow: auto; }

.section_qs {
  background-color: #FFF7E5; }

.container_qs {
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.btn_qs {
  padding: 15px 25px;
  border: unset;
  border-radius: 15px;
  color: #212121;
  z-index: 1;
  background: #e8e8e8;
  position: relative;
  font-weight: 1000;
  font-size: 17px;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
  overflow: hidden; }
  .btn_qs a {
    text-decoration: none;
    color: #FC4545; }

.btn_qs::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 15px;
  background-color: #212121;
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms; }

.btn_qs:hover {
  color: #e8e8e8; }

.btn_qs:hover::before {
  width: 100%; }

/* Footer */
/*VARIABLES*/
/*ESPACIADOS*/
/*TAMAÑO DE FUENTE*/
.mediosdepago {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-top: 5px;
  padding-bottom: 5px; }
  .mediosdepago img {
    border-radius: 10px;
    background-color: #000000;
    width: 300px; }

.footer-distributed {
  background: #F9C902;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  font: bold 16px sans-serif;
  text-align: left;
  padding: 50px 60px 40px;
  overflow: hidden; }

.footer-distributed .footer-left {
  float: left; }
  .footer-distributed .footer-left img {
    width: 150px;
    height: 150px; }

/* Logo de la empresa */
.footer-distributed h3 {
  color: #FC4545;
  font: normal 36px 'Roboto', cursive;
  margin: 10px 10px 10px; }

.footer-distributed h3 span {
  color: #5383d3; }

/* Footer links */
.footer-distributed .footer-links {
  color: black;
  margin: 10px 10px 10px;
  padding: 10px; }

.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit; }

.footer-distributed .footer-company-name {
  color: #7D2FFD;
  font-size: 14px;
  font-weight: normal;
  margin: 0; }

/* Footer iconos de redes sociales */
.footer-distributed .footer-icons {
  margin-top: 40px; }

.footer-distributed .footer-icons i {
  display: inline-block;
  width: 50px;
  height: 50px;
  cursor: pointer;
  background-color: #000000;
  border-radius: 2px;
  font-size: 20px;
  color: #fcf8f8;
  text-align: center;
  line-height: 35px;
  margin-right: 3px;
  margin-bottom: 5px; }

/* Footer Derecha */
.footer-distributed .footer-right {
  float: right; }

.footer-distributed .footer-right p {
  display: inline-block;
  vertical-align: top;
  margin: 15px 42px 0 0;
  color: #000000; }

/* Formulario de contacto */
.footer-distributed form {
  display: inline-block; }

.footer-distributed form input,
.footer-distributed form textarea {
  display: block;
  border-radius: 3px;
  box-sizing: border-box;
  background-color: #1f2022;
  box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
  border: none;
  resize: none;
  font: inherit;
  font-size: 14px;
  font-weight: normal;
  color: #d1d2d2;
  width: 400px;
  padding: 18px; }

.footer-distributed ::-webkit-input-placeholder {
  color: #5c666b; }

.footer-distributed ::-moz-placeholder {
  color: #5c666b;
  opacity: 1; }

.footer-distributed :-ms-input-placeholder {
  color: #5c666b; }

.footer-distributed form input {
  height: 55px;
  margin-bottom: 15px; }

.footer-distributed form textarea {
  height: 100px;
  margin-bottom: 20px; }

.footer-distributed form button {
  border-radius: 3px;
  background-color: #33383b;
  color: #ffffff;
  border: 0;
  padding: 15px 50px;
  font-weight: bold;
  float: right; }

.footer_comidas {
  text-align: center;
  background-color: #e5e5f7;
  opacity: 0.8;
  background-image: repeating-radial-gradient(circle at 0 0, transparent 0, #e5e5f7 10px), repeating-linear-gradient(#bf970055, #bf9700); }

.footer_contacto {
  padding: 3px; }

.footer-dark {
  padding: 50px 0;
  color: #f0f9ff;
  background-color: #282d32; }

.footer-dark h3 {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 16px; }

.footer-dark ul {
  padding: 0;
  list-style: none;
  line-height: 1.6;
  font-size: 14px;
  margin-bottom: 0; }

.footer-dark ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.6; }

.footer-dark ul a:hover {
  opacity: 0.8; }

.footer-dark .item.text {
  margin-bottom: 36px; }

.footer-dark .item.text p {
  opacity: 0.6;
  margin-bottom: 0; }

.footer-dark .item.social {
  text-align: center; }

.footer-dark .item.social > a {
  font-size: 20px;
  width: 36px;
  height: 36px;
  line-height: 36px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.4);
  margin: 0 8px;
  color: #fff;
  opacity: 0.75; }

.footer-dark .item.social > a:hover {
  opacity: 0.9; }

.footer-dark .copyright {
  text-align: center;
  padding-top: 24px;
  opacity: 0.3;
  font-size: 13px;
  margin-bottom: 0; }

/* Medias querys */
/********** Footer **********/
@media (max-width: 1000px) {
  .footer-distributed {
    font: bold 14px sans-serif; }
  .footer-distributed .footer-company-name {
    font-size: 12px; }
  .footer-distributed form input,
  .footer-distributed form textarea {
    width: 250px; }
  .footer-distributed form button {
    padding: 10px 35px; } }

@media (max-width: 800px) {
  .footer-distributed {
    padding: 30px; }
  .footer-distributed .footer-left,
  .footer-distributed .footer-right {
    float: none;
    max-width: 300px;
    margin: 0 auto; }
  .footer-distributed .footer-left {
    margin-bottom: 40px; }
  .footer-distributed form {
    margin-top: 30px; }
  .footer-distributed form {
    display: block; }
  .footer-distributed form button {
    float: none; } }

@media (max-width: 1200px) {
  .row {
    padding-left: 10px;
    padding-right: 3px; }
  .column {
    flex: 50%; } }

@media (max-width: 800px) {
  .section_comidas {
    display: flex;
    padding: 5% 15%; }
  .box {
    padding: auto;
    margin: auto;
    overflow: auto; }
  .box1 {
    padding: auto;
    margin: auto;
    overflow: auto; }
  .box2 {
    padding: auto;
    margin: auto;
    overflow: auto; }
  .main_comidas img {
    width: 90%; }
  .row {
    padding: 10%; }
  .column {
    flex: 80%; } }

@media (max-width: 600px) {
  .section_comidas {
    display: flex;
    padding: 5% 15%; }
  .box {
    padding: auto;
    margin: auto;
    overflow: auto; }
  .box1 {
    padding: auto;
    margin: auto;
    overflow: auto; }
  .box2 {
    padding: auto;
    margin: auto;
    overflow: auto; }
  .main_comidas img {
    width: 100%; }
  .row {
    padding: 10%; }
  .column {
    flex: 80%; } }

@media (max-width: 1200px) {
  .footer-clean .item.social > a {
    margin-top: 40px; } }

@media (max-width: 800px) {
  .footer-clean .item.social > a {
    margin-top: 10px; } }

@media (max-width: 400px) {
  .footer-clean .item.social {
    text-align: center; } }

@media (max-width: 767px) {
  .footer-dark .item:not(.social) {
    text-align: center;
    padding-bottom: 20px; } }

@media (max-width: 767px) {
  .footer-dark .item.text {
    margin-bottom: 0; } }

@media (max-width: 991px) {
  .footer-dark .item.social {
    text-align: center;
    margin-top: 20px; } }

/* Imagenes */
img {
  background-color: #FC4545; }

/* ARTICLE */
/*VARIABLES*/
/*ESPACIADOS*/
/*TAMAÑO DE FUENTE*/
.article_index {
  padding-left: 10px;
  background-color: #FFF7E5; }

.enlace_index {
  display: flex;
  flex-wrap: wrap;
  color: black;
  text-decoration: none; }

.cta {
  border: none;
  background: none; }

.cta span {
  padding-bottom: 7px;
  letter-spacing: 4px;
  font-size: 10px;
  padding-right: 15px;
  text-transform: uppercase; }

.cta svg {
  transform: translateX(-8px);
  transition: all 0.3s ease; }

.cta:hover svg {
  transform: translateX(0); }

.cta:active svg {
  transform: scale(0.9); }

.hover-underline-animation {
  position: relative;
  color: black;
  padding-bottom: 20px; }

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1.5px;
  bottom: 0;
  left: 0;
  background-color: #000000;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out; }

.cta:hover .hover-underline-animation:after {
  transform: scaleX(1);
  transform-origin: bottom left; }
