
/*********** COMIDAS *********/
@media screen and (max-width: 800px){
.container-img{
  width: 95px;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  grid-template-rows: 200px;
}
}
.container-img .box-img:nth-child(1){
  grid-column-start: span 1;
}

@media screen and (max-width: 700px){
  .container-img{
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
  }
  .container-img .box-img img{
    height: 200px;

  }
}

@media screen and (max-width: 300px){
  .container-img{
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
  }
  .container-img .box-img img{
    height: 200px;

  }
}

 /********** Footer **********/
@media (max-width: 1000px) {
  
    .footer-distributed {
      font: bold 14px sans-serif;
    }
  
    .footer-distributed .footer-company-name{
      font-size: 12px;
    }
  
    .footer-distributed form input,
    .footer-distributed form textarea{
      width: 250px;
    }
  
    .footer-distributed form button{
      padding: 10px 35px;
    }
  
  }
  
  @media (max-width: 800px) {
  
    .footer-distributed{
      padding: 30px;
    }
  
    .footer-distributed .footer-left,
    .footer-distributed .footer-right{
      float: none;
      max-width: 300px;
      margin: 0 auto;
    }
  
    .footer-distributed .footer-left{
      margin-bottom: 40px;
    }
  
    .footer-distributed form{
      margin-top: 30px;
    }
  
    .footer-distributed form{
      display: block;
    }
  
    .footer-distributed form button{
      float: none;
    }
  }


  // FOOTER COMIDAS

  @media (max-width:991px) {
    .footer-clean .item.social > a {
      margin-top:40px;
    }
  }
  
  @media (max-width:767px) {
    .footer-clean .item.social > a {
      margin-top:10px;
    }
  }

  @media (max-width:767px) {
    .footer-clean .item {
      text-align:center;
      padding-bottom:20px;
    }
  }
  
  @media (max-width: 768px) {
    .footer-clean .item.social {
      text-align:center;
    }
  }

  // CONTACTO

  @media (max-width:767px) {
    .footer-dark .item:not(.social) {
      text-align:center;
      padding-bottom:20px;
    }
  }

    
  @media (max-width:767px) {
    .footer-dark .item.text {
      margin-bottom:0;
    }
  }

  @media (max-width:991px) {
    .footer-dark .item.social {
      text-align:center;
      margin-top:20px;
    }
  }