/*VARIABLES*/
$primary: #FC4545 ;
$secondary: #F9C902;
$alternative: #7D2FFD ;
$text-color: #FFF7E5;
$negro: #7E7D7C;


/*ESPACIADOS*/
$spacing-large: 6rem;
$spacing-medium: 2.4rem;
$spacing-small: 2rem;
$spacing-xsmall:1rem;


/*TAMAÑO DE FUENTE*/
$text-large: 5.2em;
$text-medium: 2.2em;
$text-base: 1.6em;
$text-small: 1.4em;
