// COLORES

$primary: #FC4545 ;
$secondary: #FFE829;
$alternative: #7D2FFD ;
$text-color: #FFF7E5;

// ESPACIADOS

$spacing-large: 6rem;
$spacing-medium: 2.4rem;
$spacing-small: 2rem;
$spacing-xsmall:1rem;

// FONT FAMILY
$font-principal:font-family'Kanit', sans-serif;
$font-secundaria:font-family'Dancing Script', cursive;


// TAMAÑO DE FUENTES

$text-large: 5.2em;
$text-medium: 2.2em;
$text-base: 1.6em;
$text-small: 1.4em;